/*--------------------------------------------------  Body  --------------------------------------------------*/
* {
  margin: 0;
}

/*--------------------------------------------------  GENERALS  --------------------------------------------------*/

.cont-product{
  width: 5vw;
}
.link-off {
  text-decoration: none;
  color: #000;
}
.hecont {
  height: 100vh;
}

/*--------------------------------------------------  Top Nav  --------------------------------------------------*/



/*--------------------------------------------------  Destacados  --------------------------------------------------*/

.product-img {
width: 10vw;
height: 20vh;
}